.img-profile{
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.team-member img{
    object-fit: cover;
}
.timeline-image img{
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}
img, iframe{
    max-width: 100%;
}
@media (min-width:992px){
    #mainNav{
        background-color: rgba(0,0,0,0.3);
    }
}
#mainNav .navbar-brand{
    color: #F8E559;
}

.portfolio .portfolio-item .portfolio-link .portfolio-hover{
    background-color: #c72d12;
}
.text-primary{
    color: #c72d12!important;
}